@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

nav ul {
  display: flex;
}

nav ul li {
  font-size: 13px;
  padding: 0 1rem;
}

nav ul li a:hover {
  color: #52525b;
}

nav ul li:last-child,
nav ul li:nth-last-child(2),
nav ul li:nth-last-child(3),
nav ul li:nth-last-child(4) {
  padding: 0 5px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: "62.5% !important";
  color: rgb(var(--foreground-rgb));
  background: white;
  color: #111111;
  font-family: var(--font-manrope);
  font-size: 17px;
  line-height: 1.5;
  overflow-x: hidden;
}

section {
  position: relative;
  max-width: 727px;
  width: 100%;
  overflow: hidden;
  padding-left: 20px;
  padding-right: 20px;
}

section#youtube .container, footer .container {
  display: table;
  margin: 40px auto;
  max-width: 727px;
  width: 100%;
  text-align: left;
}

footer .container, footer form {
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
}

footer ul {
  position: relative;
  margin: 0 auto;
  display: flex;
  filter: invert(100%);
}

footer ul li {
  padding: 0 5px;
}

footer form {
  display: table;
  max-width: 727px;
  width: 100%;
  margin: -20px auto 0;
}

footer form label {
  color: white;
}

footer form input, footer form textarea {
  padding: 0 15px;
  margin-top: 10px;
  border: 1px solid white;
  background: transparent;
  color: white;
}

section#youtube {
  max-width: 100%;
  width: 100%;
}

section#youtube .carousel {
  position: relative;
  display: table;
  margin: 0 auto;
  padding-left: 40px;
}

section#youtube .container {
  margin-bottom: 10px;
}

section#youtube button.primary {
  margin-top: 14px;
}

.image-case-study {
  height: 560px;
}

.formation {
  height: 460px;
}

.image-case-study img {
  /* filter: grayscale(100%); */
  transition: all .5s;
  transition-timing-function: linear(0.1, 0.7, 1.0, 0.1);
}

.image-case-study img:hover {
  filter: grayscale(0%);
}

.logo {
  color: #111111;
  font-weight: 800;
  font-family: var(--font-unbounded);
}

.logo.white {
  color: white;
}

span.title {
  font-size: 24px;
  font-family: var(--font-unbounded);
  font-weight: 700;
}

h1, h2, h3, h4, h5 {
  color: #030712;
  line-height: 1.4;
}

p {
  color: #334155;
}

h1 {
  margin-top: 5px;
  font-size: 20px;
  font-weight: 400;
  font-family: var(--font-manrope);
}

h2 {
  margin-top: 2px;
  font-size: 24px;
  font-weight: 700;
  font-family: var(--font-unbounded);
  margin-bottom: 30px;
}

h2.h2-b {
  margin-bottom: 20px;
  font-weight: 700;
  font-family: var(--font-manrope);
}

h3 {
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 700;
  font-family: var(--font-manrope);
}

h2.no-margin {
  margin-bottom: 5px;
}

.box-shadow-image {
  position: relative;
  margin-bottom: 20px;
}

.box-shadow-image::before {
  content: "";
  position: absolute;
  inset: 0px;
  padding: 0 20px 2px;
  transform: translate(9px, 9px);
  background: linear-gradient(90deg, #05181d 10%, #4a38ad 94%, #8b5cf6 100%);
  z-index: -1;
}
ul.offers {
  margin-bottom: 15px;
}
ul.offers li::before {
  position: relative;
  top: 5px;
  display: inline-block;
  content: "";
  width: 30px;
  height: 20px;
  background-image: url('../../public/checkmark-badge-03-stroke-rounded.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

button.primary {
  position: relative;
  margin: 40px 0 0 10px;
  height: 50px;
  padding: 0 40px;
  background: linear-gradient(90deg, #05181d 10%, #4a38ad 70%, #8b5cf6 100%);
  transition: all .3s;
  transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
  font-family: var(--font-manrope);
  font-weight: 600;
  font-size: 16px;
}

button.primary.borders::before {
  border: 1px solid white;
}

button.primary::before {
  content: attr(data-title);
  position: absolute;
  inset: 0px;
  padding: 0 40px 2px;
  transform: translate(-9px, -9px);
  z-index: 1;
  display: flex;
  align-items: center;
  background: black;
  color: white;
  transition: all .3s;
  transition-timing-function: linear(0.1, 0.7, 1.0, 0.1);
}

button.primary:hover::before {
  transform: translate(0px, 0px);
}

button.secondary {
  position: relative;
  top: -11px;
  margin-left: 10px;
  padding: 0 20px ;
  height: 45px;
  font-family: var(--font-manrope);
  font-weight: 600;
  font-size: 16px;
  transition: all .3s;
  transition-timing-function: linear(0.1, 0.7, 1.0, 0.1);
}

button.secondary::after {
  position: relative;
  margin-left: 10px;
  font-size: 20px;
  content: '\2192'
}

button.secondary:hover {
  transform: translate(20px, 0);
}

span.sub-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  font-family: var(--font-manrope);
  letter-spacing: .15em;
}

.thumbnail {
  width: 365px;
  height: 290px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
